@import "tailwindcss";


@theme {
  --font-sans: "Sora", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #031818;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    #F7A97C 0%,
    #F3C96A 50%,
    #FFE8A3 100%
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    #F3C96A 0%,
    #FFE8A3 100%
  );
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #F3C96A #031818;
}


.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-1/2
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  clip-path: inset(-45px);
  box-shadow: -60px 15px #F3C96A, -60px 15px #F3C96A, -60px 15px #F3C96A;
  transform: translateY(-15px);
  animation: l19 1s infinite linear;
}
@keyframes l19{ 
  16.67% {box-shadow: -60px 15px #F3C96A, -60px 15px #F3C96A, 19px 15px #F3C96A}
  33.33% {box-shadow: -60px 15px #F3C96A, 0px 15px #F3C96A, 19px 15px #F3C96A}
  40%,60% {box-shadow: -19px 15px #F3C96A, 0px 15px #F3C96A, 19px 15px #F3C96A}
  66.67% {box-shadow: -19px 15px #F3C96A, 0px 15px #F3C96A, 60px 15px #F3C96A}
  83.33% {box-shadow: -19px 15px #F3C96A, 60px 15px #F3C96A, 60px 15px #F3C96A}
  100%   {box-shadow: 60px 15px #F3C96A, 60px 15px #F3C96A, 60px 15px #F3C96A}
}

.CTA-hero {
  background: linear-gradient(135deg,#F7A97C 0%,#F3C96A 50%,#FFE8A3 100%);
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 15px 40px rgba(243, 201, 106, .35);
}
.text-main {
  color: #FFF8EE;
}
.text-main-gredient {
  background: linear-gradient(135deg,#F7A97C 0%,#F3C96A 50%,#FFE8A3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-main-gredient > div {
  background: linear-gradient(135deg,#F7A97C 0%,#F3C96A 50%,#FFE8A3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .floating-nav {
  @apply fixed bg-black
} */

.small-title {
letter-spacing: 0.35em;
@apply text-sm uppercase max-lg:text-xs max-lg:max-w-80 block mx-auto
}
.big-title {
  @apply text-5xl font-bold max-lg:text-4xl max-md:text-2xl max-sm:text-xl
}
.big-title > span {
  @apply font-extrabold text-[3.1rem] max-lg:text-[2.3rem] max-md:text-[1.6rem] max-sm:text-[1.3rem]
}

.navLink::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: linear-gradient(135deg,#F7A97C 0%,#F3C96A 50%,#FFE8A3 100%);
  bottom: 0;
  left: 0;
  transition: width 0.4s;
}

.navLink:hover::before {
  width: 100%;
}